/* Media */
.Press-item {
  background: #e6f6ff;
  border-radius: 30px;
  margin-bottom: 32px;
}
.Press-img {
  border-radius: 30px 0px 0px 30px;
}
.Press-content {
  padding: 25px 40px 25px 40px;
}
.Press-content h5 {
  font-size: 28px;
  color: var(--title-color);
  margin-top: 20px;
  line-height: 38px;
  margin-bottom: 24px;
  font-weight: 700;
}
.Press-content p {
  font-size: 16px;
  color: #023;
  margin-bottom: 24px;
}
.link a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--title-font);
  font-weight: 500;
  color: var(--title-color);
  padding-right: 28px;
}
.press-logo {
  object-fit: contain;
  width: 121px;
  height: auto;
}
.press-date {
  font-size: 15px;
  color: #023;
  opacity: 0.6;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
}
.link a:hover {
  color: var(--theme-color);
}
.link a i {
  position: absolute;
  top: 9px;
  right: 0px;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .Press-img {
    border-radius: 30px 30px 0px 0px;
  }
  .Press-content h5 {
    font-size: 20px;
    line-height: 28px;
  }
}

/* ?? Video library-phase -Pages  */
/*--------------------------------------------------------------
# Video library-phase List
--------------------------------------------------------------*/
.video-library .video-banner {
  position: relative;
  box-shadow: 4px 8px 60px rgb(0 21 40 / 10%);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 30px;
}
.video-library .video-banner img {
  border-radius: 10px;
  transition: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4) transform;
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.video-library .video-banner .playing-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-library .video-banner .playing-btn svg {
  width: 50px;
  height: 50px;
}
.video-library .video-banner img:hover {
  transform: scale(1.1);
}
.video-content span {
  background-color: var(--theme-color-2);
  padding: 4px 15px;
  color: #fff;
  font-size: 13px;
  transition: background 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
  border-radius: 16px;
}
.video-content h4 {
  font-size: 22px;
  color: var(--title-color);
  margin-top: 18px;
  line-height: 30px;
  margin-bottom: 18px;
  font-weight: 600;
}
.video-content p {
  font-size: 15px;
  color: #023;
  opacity: 0.6;
  margin-bottom: 0;
}
