/* Media */
.Press-item {
  background: #e6f6ff;
  border-radius: 30px;
  margin-bottom: 32px;
}
.Press-img {
  border-radius: 30px 0px 0px 30px;
}
.Press-content {
  padding: 25px 40px 25px 40px;
}
.Press-content h5 {
  font-size: 28px;
  color: var(--title-color);
  margin-top: 20px;
  line-height: 38px;
  margin-bottom: 24px;
  font-weight: 700;
}
.Press-content p {
  font-size: 16px;
  color: #023;
  margin-bottom: 24px;
}
.link a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--title-font);
  font-weight: 500;
  color: var(--title-color);
  padding-right: 28px;
}
.press-logo {
  object-fit: contain;
  width: 121px;
  height: auto;
}
.press-date {
  font-size: 15px;
  color: #023;
  opacity: 0.6;
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
}
.link a:hover {
  color: var(--theme-color);
}
.link a i {
  position: absolute;
  top: 9px;
  right: 0px;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .Press-img {
    border-radius: 30px 30px 0px 0px;
  }
  .Press-content h5 {
    font-size: 20px;
    line-height: 28px;
  }
}

/* ?? Video library-phase -Pages  */
/*--------------------------------------------------------------
# Video library-phase List
--------------------------------------------------------------*/
.video-library .video-banner {
  position: relative;
  box-shadow: 4px 8px 60px rgb(0 21 40 / 10%);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 0 30px;
}
.video-library .video-banner img {
  border-radius: 10px;
  transition: 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4) transform;
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.video-library .video-banner .playing-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-library .video-banner .playing-btn svg {
  width: 50px;
  height: 50px;
}
.video-library .video-banner img:hover {
  transform: scale(1.1);
}
.video-content span {
  background-color: var(--theme-color-2);
  padding: 4px 15px;
  color: #fff;
  font-size: 13px;
  transition: background 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
  border-radius: 16px;
}
.video-content h4 {
  font-size: 22px;
  color: var(--title-color);
  margin-top: 18px;
  line-height: 30px;
  margin-bottom: 18px;
  font-weight: 600;
}
.video-content p {
  font-size: 15px;
  color: #023;
  opacity: 0.6;
  margin-bottom: 0;
}

/* ?? Success Stories -Pages  */
/*--------------------------------------------------------------
# Success Stories
--------------------------------------------------------------*/
.success-stories-items {
  background: #eff3f5;
  border-radius: 20px;
  margin-bottom: 32px;
}
.success-content {
  padding: 25px 40px 25px 0px;
}
.success-logo {
  object-fit: contain;
  width: 121px;
  height: auto;
}
.success-date {
  font-size: 15px;
  color: #023;
  opacity: 0.6;
  margin-bottom: 0 !important;
  display: flex;
  align-items: flex-end;
}
.success-content h5 {
  font-size: 30px;
  color: var(--title-color);
  margin-top: 20px;
  line-height: 38px;
  margin-bottom: 24px;
  font-weight: 700;
}
.success-content p {
  font-size: 16px;
  color: #001a45;
  margin-bottom: 25px;
}
.customer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.customer img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.customer span {
  color: #000;
  font-weight: 500;
}
.company-name {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 1rem;
}
/* ?? Success Stories details -Pages  */
/*--------------------------------------------------------------
# Success Stories details
--------------------------------------------------------------*/
.Success-details {
  width: 100%;
  position: relative;
  padding: 80px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: url('../../images/shape/shape-01.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.Success-details .content-box h2 {
  font-size: 45px;
  line-height: 54px;
  color: #fff;
  margin-bottom: 20px;
  opacity: 1;
  transition: all 1000ms ease;
  text-transform: capitalize;
}
.Success-details .content-box .logo {
  color: var(--theme-color);
  padding-bottom: 20px;
  font-weight: 600;
}
.intro-title {
  padding-left: 0.9375rem;
  margin-bottom: 35px;
  border-left: 4px solid #024e72;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  color: #024e72;
}
.intro-text {
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: 600;
}
.intro-left {
  font-size: 18px;
  color: #001a45;
  margin-bottom: 20px;
  border-left: 4px solid #000000;
  padding-left: 0.9375rem;
}
.customer-star {
  padding: 3.125rem;
  border: 1px solid #b7b6b6;
}
.arrow-icons {
  padding-left: 5px;
  padding-bottom: 15px;
}
.Client-title {
  color: var(--theme-color-2);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.Client-text {
  font-size: 17px;
  color: #023;
  font-weight: normal;
}
.success-features {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.success-features li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: normal;
  color: #000000;
}
.success-features li i {
  color: var(--theme-color-2);
  margin-right: 10px;
  font-size: 1.1rem;
}

.Challenges-items {
  text-align: center;
}
.Challenges-items h3 {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  color: #024e72;
  margin-bottom: 3rem;
}
.Challenges-items-single {
  background-color: #f7f9fa;
  padding: 40px;
  /* height: 100%; */
  border-radius: 30px 0 0 30px;
}
.Solution-items {
  border-radius: 0 30px 30px 0;
  padding: 40px;
  /* height: 100%; */
  background-color: rgb(95, 187, 70, 0.1);
}
.Challenges-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.Challenges-title img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.Challenges-title h2 {
  font-size: 20px;
  margin-bottom: 0px;
}
.Solution-single {
  border-bottom: 1px solid #a2aaaf;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.Solution-single:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.color-3 {
  color: #666666 !important;
}
.color-2 {
  color: rgb(95, 187, 70) !important;
}

/*----------------------------------------*/
/*  gallery css
/*----------------------------------------*/
.rs-gallery-item {
  position: relative;
}

.rs-gallery-item:hover .rs-gallery-content-wrap {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}
.rs-gallery-item:hover .rs-gallery-thumb::before {
  visibility: visible;
  opacity: 1;
}
.rs-gallery-item:hover .rs-gallery-btn {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}

.rs-gallery-thumb {
  position: relative;
}
.rs-gallery-thumb::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(64, 215, 253, 0.7);
  transition: all 0.4s ease-out;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
}
.rs-gallery-thumb img {
  width: 100%;
  border-radius: 4px;
}
.rs-gallery-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-out;
}
.rs-circle-btn.has-dark-blue {
  background: #152a40;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 50%;
}
.rs-circle-btn.has-dark-blue:hover {
  background: #fff;
  color: #000000;
}
