/* ?? Description of Workforce Solutions-Pages  */
/*--------------------------------------------------------------
# Description of Workforce Solutions
--------------------------------------------------------------*/
.Description-Workforce {
  background: #fafafa;
  /* background: linear-gradient(to left, #2c3e50, #3498db); */
}
.common-background {
  background: #fafafa;
}

.right-choose-content img:nth-child(1) {
  position: relative;
}
.right-choose-content img {
  top: 0;
  right: 0;
  z-index: 2;
  border-radius: 10px;
}
.right-choose-content span:nth-child(2) {
  position: absolute;
  left: -50px;
  bottom: -50px;
  background: rgb(0, 225, 255);
  z-index: 1;
  border-radius: 10px;
  opacity: 0.2;
  width: 30.3rem;
  height: 31.6rem;
}
.right-choose-content span:nth-child(3) {
  position: absolute;
  left: -50px;
  bottom: -50px;
  width: 25.3rem;
  height: 25.3rem;
  background: rgb(0, 217, 255);
  z-index: 1;
  border-radius: 10px;
  opacity: 0.2;
}
.right-choose-content span:nth-child(4) {
  position: absolute;
  left: -50px;
  bottom: -50px;
  z-index: 1;
  border-radius: 10px;
  opacity: 0.2;
  width: 19.8rem;
  height: 19.8rem;
  background: rgb(25, 132, 164);
}

/* ?? Key Features-Pages  */
/*--------------------------------------------------------------
# Key Features Solutions
--------------------------------------------------------------*/
.Description-staffing {
  margin-top: 20px;
  text-align: left;
  display: flex;
  gap: 25px;
}
.Description-staffing h4 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  transition: all 0.4s;
  text-transform: capitalize;
}
.Description-staffing .icon {
  border-radius: 8px;
  background: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #d4dcff;
  transition: all 0.4s;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
}
.Description-staffing .icon img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.sow-working-process {
  background: #fafafa;
}
/* Page banner-section */
.staffing-meeting h4 {
  padding-top: 1rem;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #00b4db, #97dcf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
.staffing-meeting p {
  font-size: 18px !important;
  line-height: 28px !important;
  margin-bottom: 15px !important;
}
.staffing-meeting img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-top: 10px;
}
