

/* ?? Description of Workforce Solutions-Pages  */
/*--------------------------------------------------------------
# Description of Workforce Solutions
--------------------------------------------------------------*/
.Description-Workforce {
  /* background: #fafafa; */
  background: linear-gradient(to left, #2c3e50, #3498db);
}

.right-choose-content img:nth-child(1) {
  position: relative;
}
.right-choose-content img {
  top: 0;
  right: 0;
  z-index: 2;
}
.right-choose-content span:nth-child(2) {
  position: absolute;
  left: -50px;
  bottom: -50px;
  background: rgb(0, 225, 255);
  z-index: 1;
  border-radius: 10px;
  opacity: 0.2;
  width: 30.3rem;
  height: 31.6rem;
}
.right-choose-content span:nth-child(3) {
  position: absolute;
  left: -50px;
  bottom: -50px;
  width: 25.3rem;
  height: 25.3rem;
  background: rgb(0, 217, 255);
  z-index: 1;
  border-radius: 10px;
  opacity: 0.2;
}
.right-choose-content span:nth-child(4) {
  position: absolute;
  left: -50px;
  bottom: -50px;
  z-index: 1;
  border-radius: 10px;
  opacity: 0.2;
  width: 19.8rem;
  height: 19.8rem;
  background: rgb(25, 132, 164);
}

/* ?? Workforce Solutions Page title  */
/*--------------------------------------------------------------
# Workforce Solutions Page title
--------------------------------------------------------------*/
.workforce-page {
  width: 100%;
  position: relative;
  padding: 150px 0px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-image: url('../../images/banner/home-banner-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.workforce-page .content-box h2 {
  font-size: 40px;
  line-height: 54px;
  color: var(--title-color);
  margin-bottom: 20px;
  opacity: 1;
  transition: all 1000ms ease;
  text-transform: capitalize;
}
.workforce-page .content-box h2 span {
  color: var(--theme-color);
}
.workforce-page .content-box p {
  font-size: 18px;
  line-height: 30px;
  color: (--text-color);
  margin-bottom: 40px;
  opacity: 1;
  transition: all 1000ms ease;
}
.workforce-page .workforce-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s ease;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .workforce-page {
    padding: 90px 0px;
  }
}
