/* Page banner-section */
.staffing-meeting h4 {
  padding-top: 1rem;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #00b4db, #97dcf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
.staffing-meeting p {
  font-size: 18px !important;
  line-height: 28px !important;
  margin-bottom: 15px !important;
}
.staffing-meeting img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-top: 10px;
}

/* working process sections */
.work-process-section {
  background-color: #fafafa;
}

/*==========================================================================
* Technology
==========================================================================*/
.technology-solution__one-image {
  position: relative;
}
.technology-solution__one-image-wrapper {
  padding: 0 0px;
}
.technology-solution__one-content h2 {
  text-transform: none;
  margin-bottom: 30px;
}
.technology-solution__one-content p {
  color: var(--color-2);
  margin-bottom: 30px;
  width: 90%;
}
.technology-solution__one-content .satisfied-customer-counter {
  display: flex;
  align-items: center;
  background: var(--color-1);
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 0 15px 25px;
  border-radius: 20px;
}
.technology-solution__one-content .satisfied-customer-counter .counter-wrapper {
  display: flex;
  margin-right: 10px;
}
.technology-solution__one-content
  .satisfied-customer-counter
  .counter-wrapper
  h3 {
  font-size: 48px;
  color: var(--primary-color-1);
}
.technology-solution__one-content .satisfied-customer-counter span {
  font-size: 18px;
  width: 28%;
  font-weight: 500;
}

.project-color-3 {
  background-color: #fff2f7;
  color: #e597b4;
}
.project-color-4 {
  background-color: #ddfff5;
  color: #6bc6ad;
}
.project-wrapper-title {
  margin-bottom: 20px;
}
.project-wrapper-3 {
  background-color: transparent;
  background-image: linear-gradient(270deg, #fff6fa 7.29%, #ffffff 105.16%);
  border-radius: 16px;
}
.project-wrapper-4 {
  background-color: transparent;
  background-image: linear-gradient(270deg, #ffffff -0.81%, #e2fff7 105.16%);
  border-radius: 16px;
}

/* Payroll Services */
.payroll-service {
  background: #f2f2f5;
}
.payroll-service .our-benefit-image {
  position: relative;
  height: 100%;
  padding-right: 85px;
  margin-right: 80px;
}
.payroll-service .benefit-img-1 {
  height: 100%;
}
.payroll-service .benefit-img-1 figure {
  height: 100%;
}
.payroll-service .image-anime {
  position: relative;
  overflow: hidden;
}
.benefit-img-1 img {
  width: 100%;
  aspect-ratio: 1 / 1.01;
  object-fit: cover;
}
.payroll-service .image-anime:after {
  content: '';
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}
.benefit-img-2 {
  position: absolute;
  max-width: 354px;
  right: -30px;
  bottom: 40px;
  border: 10px solid #fff;
  border-radius: 30px;
  overflow: hidden;
  z-index: 1;
}
.benefit-img-2 figure {
  display: block;
}
.benefit-img-2 img {
  width: 100%;
  aspect-ratio: 1 / 1.21;
  object-fit: cover;
}
.our-benefit-content {
  padding: 100px 0;
  padding-right: calc(((100vw - 1300px) / 2) + 5px);
}
@media only screen and (max-width: 767px) {
  .payroll-service .our-benefit-image {
    padding-right: 50px;
  }
  .benefit-img-1 img {
    aspect-ratio: 1 / 1.1;
  }
  .benefit-img-2 {
    max-width: 160px !important;
    border-width: 5px;
    bottom: 20px;
  }
  .benefit-img-2 img {
    aspect-ratio: 1 / 1.1;
  }
  .contact-us-circle {
    top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .payroll-service .our-benefit-image {
    height: auto;
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .payroll-service .benefit-img-1 {
    height: auto;
    border-radius: 20px;
  }
  .payroll-service .benefit-img-1 figure {
    height: auto;
    border-radius: 20px;
  }
  .benefit-img-1 img {
    aspect-ratio: 1 / 0.98;
  }
  .benefit-img-2 {
    max-width: 280px;
    border-radius: 20px;
    right: 0;
  }
  .our-benefit-content {
    padding: 0 15px;
  }
  .payroll-service {
    padding: 50px 0;
  }
}

/* ?? Description of Staffing Solutions-Pages  */
/*--------------------------------------------------------------
# Description of Staffing Solutions
--------------------------------------------------------------*/
.Description-Workforce {
  /* background: #fafafa; */
  /* border-bottom: 1px solid gray; */
}
.Description-staffing {
  margin-top: 20px;
  text-align: left;
  display: flex;
  gap: 25px;
}
.Description-staffing h4 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  transition: all 0.4s;
  text-transform: capitalize;
}
.Description-staffing .icon {
  border-radius: 8px;
  background: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border: 1px solid #d4dcff;
  transition: all 0.4s;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;
}
/* ?? working process Solutions-Pages  */
/*--------------------------------------------------------------
# working process
--------------------------------------------------------------*/
.service-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .service-box {
    gap: 1.5rem; /* sm:gap-6 */
  }
}

.service-icon {
  padding: 1rem;
  border-radius: 9999px;
  position: relative;
  transition: all 0.5s ease;
}

.hover-track-1::after,
.hover-track-2::after {
  content: '';
  position: absolute;
  background-color: #e2e8f0; /* strokeColor */
  width: 1px;
  right: 50%;
  height: 200px;
  transition: all 0.5s ease;
}

@media (min-width: 340px) {
  .hover-track-1::after,
  .hover-track-2::after {
    height: 170px;
  }
}
@media (min-width: 450px) {
  .hover-track-1::after,
  .hover-track-2::after {
    height: 130px;
  }
}
@media (min-width: 1024px) {
  .hover-track-1::after,
  .hover-track-2::after {
    height: 150px;
  }
}

.service-box:hover .hover-track-1,
.service-box:hover .hover-track-2 {
  background-color: var(--theme-color); /* s2 */
}

.service-box:hover .hover-track-1::after,
.service-box:hover .hover-track-2::after {
  background-color: var(--theme-color);
  width: 3px;
}

.icon-number {
  color: white;
  background-color: var(--theme-color-2); /* s1 */
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 700;
}

.service-text {
  flex: 1;
}

.border-line {
  border-bottom: 1px solid #e2e8f0; /* strokeColor */
}

.custom-heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.custom-paragraph {
  color: #64748b; /* text-bodyText */
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

@media (min-width: 1280px) {
  .custom-paragraph {
    padding-bottom: 2rem;
  }
}
/* ?? industries It Solutions-Pages  */
/*--------------------------------------------------------------
# industries
--------------------------------------------------------------*/
.industries-block-three {
  width: 100%;
  height: 100%;
}
.industries-block-three .inner-box {
  position: relative;
  display: block;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  height: 100%;
  text-align: center;
}

.industries-block-three .inner-box .icon-box {
  position: relative;
  display: inline-block;
  margin-bottom: 19px;
  transition: all 500ms ease;
}

.industries-block-three .inner-box:hover .icon-box {
  transform: rotateY(180deg);
}
.industries-block-three .inner-box .icon-box img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.industries-block-three .inner-box h3 {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
}

.industries-block-three .inner-box h3 a {
  position: relative;
  display: inline-block;
  color: #fff;
}

.industries-block-three .inner-box h3 a:hover {
}

.industries-block-three .inner-box p {
  color: #fff;
  opacity: 0.8;
}
/* ?? Recently Placed Job Roles-Pages  */
/*--------------------------------------------------------------
# Recently Placed Job Roles
--------------------------------------------------------------*/
.placed-job {
  background-color: #fafafa;
}
.placed-job .job-categories-3-wrap {
  height: 100%;
}
.placed-job .job-categories-3 {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: relative;
  text-align: center;
  height: 100%;
  top: 40px;
  transition: 0.5s all ease;
}
.job-categories-3 .twm-media {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(56, 152, 226, 0.3);
  display: table;
  margin-bottom: -40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -70px;
  background-color: #fff;
  transition: 0.5s all ease;
}
.job-categories-3 .flaticon-dashboard img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}
.twm-content a {
  color: var(--title-color);
}
.twm-content a h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  text-transform: capitalize;
}

.job-categories-3:hover {
  background-color: var(--theme-color);
}
.job-categories-3:hover .twm-content a {
  color: #fff;
}
.job-categories-3:hover .twm-content a h4 {
  color: #fff;
}
